body{
    margin: 0;
    padding: 0;
}

.navbar1{
    width: auto;
    height: 4em;
    background-color: burlywood;
}

#topnav-ul{
    margin:0;
    padding: 0;
    list-style: none;
    float: right;
}

.topnav-li{
    display:inline-block;
    padding-top: 1em;
    margin-right: 2em;

}
.top-a{
    text-decoration: none;
    

}

#logo{
    width: 60%;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10em;
    padding-bottom: 2em;

}

.big1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 25px;
    background-color: white;
    width: 45%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
   

}

#searchbox{
    
    width: 480px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
   
     
}

.s-icon{
    
    padding-left: 30px;
    width: 40px;
    height: 35px;
    
    
}
#icon{

    max-width:100%;
    max-height:100%
}
input:focus {
    outline:none;
}
#s-box{
    background-color: white;
    width: 400px;
    height: 35px;
    padding: 0;
    border-style: none;
    text-decoration: none;

   
    

}

.buttons{
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    

}

.btn-a{

    padding-right: 0.8em;
    text-decoration: none;
}

.btn-inp{
    width: 150px;
    height: 30px;
   background-color: #f8f9fa;
   
    border-style: none;

}



