body{

    position: relative;
    margin: 0;
    padding: 0;
}


.top-navbar-list, .bottom-navbar-list{
    list-style: none;
    float: right;
}

.navbar-items, .bot-nav-itm{
    display: inline-block;
   
    
}

.navbar-links, .bot-nav-lnk {
    text-decoration: none;
    color: black;
    margin-right: 10px;

}



#gLogo{

   width:auto;
    position: absolute;
    left: 50em;
    top: 10em;

}

#searchBox{
    position: absolute;
    left: 600px;
    top: 330px;
    width: 700px;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    border-width: 1px;
    border-style: solid;


}

.buttons{

    position: absolute;
    left: 800px;
    top: 430px;
    padding-left: 10px;
    padding-right: 10px;
    
}



.sBtn{
    background-color: whitesmoke;
    height: 40px;
    border-style: none;

}

.sBtn :hover{

    border-style: solid;
}


.navbar-bottom{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 835px;
    width: 100%;
    height: 80px;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
}

@media only screen and (max-width: 768px){

#gLogo{

    left: 14%;
    top: 165px;
}

#searchBox{

    left: 8%;
    top: 300px;
    width: 315px;

}
.buttons{

    left: 14%;
    top: 380px;
    padding-left: 10px;
    padding-right: 10px;


}

}

